<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>点击查看商品</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>欢迎{{ usrname }}，敬请期待</p>
        <img src="/media/{{ usrimg }}" style="height:50px; width:50px;"/>
        <a href="/logout/">退出登录(建议)</a>
        <a href="/book/sale/">出售二手书</a>
        <a href="/account/">我的账户</a>
        <hr/>
        <div>
            <a id="new_data" href="#book_list">最新上架图书</a><input type="text" id="search_str"/><input type="button" id="submit_search" value="搜索图书"/><small>仅支持书名模糊查询</small>
            <table id="show_data">
            </table>
            <hr/>
            <a id="pagedown" href="#">上一页</a><a id="pageup" href="#">下一页</a>
        </div>
    </body>
<script type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/union.js"></script>
<script type="text/javascript">
    Main();
</script>
</html>